<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.babpool.mapper.OrderMenuSubMapper">
    <insert id="addOrderMenuSub" parameterType="OrderMenuSub">

        INSERT INTO ordermenusub (
            ORDERMENU_ID,
            ORDERMENUSUB_NAME,
            ORDERMENUSUB_PRICE,
            MENUOPTION_ID
        )
        VALUES (
                   #{orderMenuId},
                   #{orderMenuSubName},
                   #{orderMenuSubPrice},
                   #{menuOptionId}
               )
    </insert>

    <select id="findOrderMenuSubByOrderMenuId" parameterType="Long" resultType="OrderMenuSubDto">
        SELECT *
        FROM ordermenusub
        WHERE ORDERMENU_ID = #{orderMenuId};
    </select>

</mapper>