<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ca.babpool.mapper.RestaurantDeliveryMapper">
    <insert id="insertRestaurantDelivery" parameterType="RestaurantDeliveryRegisterDto">
        INSERT INTO restaurantdelivery (RESTAURANT_ID,
                                        RD_TIP,
                                        RD_TIME_MIN,
                                        RD_TIME_AVG,
                                        RD_TIME_MAX,
                                        RD_TYPE,
                                        RD_AREA,
                                        RD_PICKUP_TIME_MIN,
                                        RD_PICKUP_TIME_AVG,
                                        RD_PICKUP_TIME_MAX)
        VALUES (#{restaurantId},
                #{rdTip},
                #{rdTimeMin},
                #{rdTimeAvg},
                #{rdTimeMax},
                #{rdType},
                #{rdArea},
                #{rdPickupTimeMin},
                #{rdPickupTimeAvg},
                #{rdPickupTimeMax})
    </insert>
</mapper>